.header__logo {
  height: 43px;
  width: 95px;
}

.header-breadcrumbs {
  min-height: 58px;
  padding: 1em;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  height: 64px;
  gap: 3em;
  @media (min-width: 768px) {
    min-height: 153px;
    padding: 0.5em 1em;
    .nav-mobile {
      display: none;
    }
    .burger {
      display: none;
    }

    .header__logo {
      height: 70px;
      width: 162px;
    }
  }
}

.nav {
  position: absolute;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  padding: 1em;
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 250px;
    width: calc(100vw - 250px);
    height: 100vh;
    background-color: #d7d7d779;
    z-index: -1;
  }

  li {
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: auto;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 1em;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &-contacts__title {
    margin-bottom: 0.5em;
  }
  &-contacts__contact span {
    color: grey;
  }

  &-contacts__social-media {
    display: flex;
    justify-content: start;
    gap: 1em;
    padding: 0.5em;
  }
  .close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  &-mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.header-top {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }

  .nav__list_desktop {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      gap: 3em;
      flex: 1 1 70%;
    }
    li {
      list-style: none;
    }
  }

  .nav-contacts__desktop {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      flex: 1 1 30%;
    }
  }
}

.favorite-btn_desktop,
.cart-btn_desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.burger {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(201, 188, 188);
  border-radius: 2px;

  span:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 25px;
    border-radius: 5px;
    height: 3px;
    background-color: #354455;
    top: calc(50% - 8px);
    left: 50%;
    transform: translate(-50%);
  }

  span:nth-child(2)::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #354455;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  span:nth-child(3)::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #354455;
    top: calc(50% + 8px);
    left: 50%;
    transform: translate(-50%);
  }
}

.btn {
  border: 0;
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
}

.button {
  display: flex;
  gap: 0.5em;
  cursor: pointer;
}

.button-load {
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 32px;
  background-color: black;
  color: white;
  margin: 2em auto;
}

.header__divider {
  display: flex;
  align-items: center;
}

.main {
  background-color: #7c7c7c0e;

  &__content {
    padding: 1em 0.5em 1.5em 0.5em;
  }
}

.title {
  font-size: 2em;
  margin-bottom: 1em;
}

.content {
  padding: 0 1em;
}

.nav-contacts {
  margin-top: 1em;
}

.search {
  input {
    display: none;
  }
  @media (min-width: 768px) {
    flex: 1 1;
    background-color: rgb(239, 239, 239);
    border: rgb(146, 146, 146);

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      display: block;
      border: 0;
      padding: 1em 2em;
      flex: 1 1 100%;
      background-color: transparent;
      &::placeholder {
        background-color: transparent;
      }
    }
    img {
      width: 30px;
      height: 30px;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3em;
    }
  }
}

// Main Page

.goods {
  &-title {
    text-align: center;
    margin: 2em 0 1em 0;
  }
  &__items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, minmax(150px, 2fr));

    @media (min-width: 460px) {
      grid-template-columns: repeat(2, minmax(150px, 2fr));
    }

    @media (min-width: 640px) {
      grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  &__item {
    background-color: #ffffff;
    position: relative;
  }

  &__body {
    padding: 0 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__title {
    font-size: 0.9em;
  }

  &__sizes {
    font-size: 0.8em;
    color: #7c7c7c;
  }

  &__old-price {
    margin-left: 10px;
    font-size: 0.9em;
    color: #d1d1d1;
    text-decoration: line-through;
  }

  &__img {
    width: 100%;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
  }

  &__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
  }

  &__discount {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    font-size: 0.8em;
    span {
      color: white;
      position: absolute;
      top: -40px;
      left: 5px;
      transform: rotate(-45deg);
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    img {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
