.header__logo {
  height: 43px;
  width: 95px;
}

.header-breadcrumbs {
  min-height: 58px;
  padding: 1em;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  height: 64px;
  gap: 3em;
  @media (min-width: 768px) {
    min-height: 153px;
    padding: 0.5em 1em;
    .nav-mobile {
      display: none;
    }
    .burger {
      display: none;
    }

    .header__logo {
      height: 70px;
      width: 162px;
    }
  }
}

.nav {
  position: absolute;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  padding: 1em;
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 250px;
    width: calc(100vw - 250px);
    height: 100vh;
    background-color: #d7d7d779;
    z-index: -1;
  }

  li {
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: auto;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 1em;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &-contacts__title {
    margin-bottom: 0.5em;
  }
  &-contacts__contact span {
    color: grey;
  }

  &-contacts__social-media {
    display: flex;
    justify-content: start;
    gap: 1em;
    padding: 0.5em;
  }
  .close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  &-mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.header-top {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }

  .nav__list_desktop {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      gap: 3em;
      flex: 1 1 70%;
    }
    li {
      list-style: none;
    }
  }

  .nav-contacts__desktop {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      flex: 1 1 30%;
    }
  }
}

.favorite-btn a,
.cart-btn a {
  justify-content: flex-start;
}

.favorite-btn_desktop,
.cart-btn_desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.burger {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(201, 188, 188);
  border-radius: 2px;

  span:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 25px;
    border-radius: 5px;
    height: 3px;
    background-color: #354455;
    top: calc(50% - 8px);
    left: 50%;
    transform: translate(-50%);
  }

  span:nth-child(2)::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #354455;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  span:nth-child(3)::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #354455;
    top: calc(50% + 8px);
    left: 50%;
    transform: translate(-50%);
  }
}

.btn {
  border: 0;
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
}

.button {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

  &-load {
    width: 107px;
    margin: 2em auto 4em;
    background-color: black;
    color: white;
    height: 32px;
  }
  &-show-all {
    flex: 1 1 100%;
    background-color: black;
    color: white;
    height: 32px;
    span {
      pointer-events: none;
    }
  }
}

.header__divider {
  display: flex;
  align-items: center;
}

.main {
  flex: 1 0 auto;
  background-color: #7c7c7c0e;

  &__content {
    padding: 1em 5px;
    @media (min-width: 768px) {
      padding: 1em 0.5em 1.5em 0.5em;
    }
  }
}

.title {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.content {
  padding: 0 1em;
}

.nav-contacts {
  margin-top: 1em;
}

.search {
  input {
    display: none;
  }
  @media (min-width: 768px) {
    flex: 1 1;
    background-color: rgb(239, 239, 239);
    border: rgb(146, 146, 146);

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      display: block;
      border: 0;
      padding: 1em 2em;
      flex: 1 1 100%;
      background-color: transparent;
      &::placeholder {
        background-color: transparent;
      }
    }
    img {
      width: 30px;
      height: 30px;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3em;
    }
  }
}

// Main Page

.goods {
  &-title {
    text-align: center;
    margin: 1em 0 1em 0;
  }
  &__items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, minmax(150px, 2fr));

    @media (min-width: 460px) {
      grid-template-columns: repeat(2, minmax(150px, 2fr));
    }

    @media (min-width: 640px) {
      grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  &__item {
    background-color: #ffffff;
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__title {
    font-size: 0.9em;
  }

  &__sizes {
    font-size: 0.8em;
    color: #7c7c7c;
  }

  &__old-price {
    margin-left: 10px;
    font-size: 0.9em;
    color: #d1d1d1;
    text-decoration: line-through;
  }

  &__img {
    width: 100%;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
  }

  &__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
  }

  &__discount {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    font-size: 0.8em;
    span {
      color: white;
      position: absolute;
      top: -40px;
      left: 5px;
      transform: rotate(-45deg);
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    img {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.advantages {
  margin-top: 2em;
  text-align: center;
  &__items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, minmax(150px, 2fr));

    @media (min-width: 460px) {
      grid-template-columns: repeat(2, minmax(150px, 2fr));
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  &__item {
    background-color: #fff;
  }

  &__description {
    margin-top: 1em;
    color: #7c7c7c;
  }
  &__img {
    padding: 1em;
  }
}

.slider {
  // &__img {
  //   object-fit: fill;
  // }
}

.collections {
  &__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(150px, 2fr));
    text-align: center;

    @media (min-width: 460px) {
      grid-template-columns: repeat(2, minmax(150px, 2fr));
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  &__img {
    position: relative;
    font-size: 0;
  }

  img {
    width: 100%;
  }

  // &__button:hover {
  //   background-color: black;
  //     color: black;
  // }

  &__title {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
  &__button {
    display: flex;

    &:hover {
      .arrow-more {
        filter: brightness(0);
      }
    }

    button {
      flex: 1 1 100%;
      transition: all 0.5s ease;
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.arrow {
  transition: all 0.5s ease;
  &-more {
    width: 40px;
    height: 30px;
    flex: 0 1;
    transform: rotate(90deg);
    filter: brightness(0) invert(1);
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0em 1em;
  @media (min-width: 768px) {
    flex-direction: row;
    &__images {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
      overflow-y: auto;
      div {
        max-width: 160px;
        img {
          width: 100%;
        }
      }
    }
    &__left {
      flex: 1 1 50%;
    }
    &__right {
      flex: 1 1 50%;
      align-self: flex-start;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    padding: 1em;
  }

  &__description {
    display: flex;
    flex-direction: column;
    span {
      padding-top: 0.5em;
      font-weight: normal;
      line-height: 180%;
      color: rgb(146, 146, 146);
    }
  }
  &__title {
    font-size: 1.3em;
    margin-bottom: 5px;
  }
  &__images {
    display: flex;
    gap: 1em;
    overflow-y: auto;
  }
  &__colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
    position: relative;

    input:checked + label::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(-3px, -3px);
      border: 1px solid #d6d6d6;
    }
    input {
      position: absolute;
      opacity: 0;
      overflow: hidden;
    }
  }

  &__color-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
  }

  &__old-price {
    margin-left: 10px;
    font-size: 0.9em;
    color: #d1d1d1;
    text-decoration: line-through;
  }

  &__price {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__info {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(150px, 1fr));

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, minmax(150px, 2fr));
    }
  }

  &__item span,
  &__title,
  &__colors,
  &__description h3,
  &__code span {
    font-weight: bold;
  }

  &__item span,
  &__colors h3,
  &__description h3,
  &__code span {
    font-size: 16px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
  }
  &__button_cart {
    flex: 1 1 80%;
    height: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    &_cart {
      span {
        margin-left: 1em;
      }
      img {
        filter: brightness(0) invert(1);
      }
    }

    &_favorite img {
      filter: brightness(0) invert(1);
    }
  }
}

.favorites__title,
.cart__title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.favorites__count,
.cart__count {
  color: #9e9a9a;
  margin-bottom: 1em;
}

.cart {
  &__items {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  &__title {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }
  &__item {
    display: flex;
    position: relative;
    gap: 1em;
    padding: 1em;
  }
  &__delete {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 0;
      width: 3px;
      border-radius: 10px;
      height: 25px;
      background-color: black;
      transform: translateX(-12px) rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 3px;
      border-radius: 10px;
      height: 25px;
      background-color: black;
      transform: translateX(5px) rotate(-45deg);
    }
  }
  &__sizes span,
  &__color span {
    color: rgb(146, 146, 146);
  }
  &__color {
    display: flex;
    align-items: center;
    gap: 1em;
    .goods__color {
      position: relative;
    }
    .goods__color::before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(-5px, -5px);
      border: 1px solid #d6d6d6;
    }
  }
  &__img {
    img {
      width: 112px;
      height: 142px;
      object-fit: cover;
    }
  }
  &__counter {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  &__count {
    font-weight: bold;
    color: black;
    margin-top: 13px;
  }
  &__button {
    width: 32px;
    height: 32px;
    font-size: 1.5em;
    background-color: #f8f8f8;
    border: 1px solid #efefef;
    border-radius: 5px;
  }
  &__text {
    color: #9e9a9a;
  }
  &__increment,
  &__decrement {
    font-weight: bold;
    position: relative;
  }
  &__decrement span {
    position: absolute;
    top: -8px;
    left: 9px;
  }

  &-wrapper {
    display: flex;
    gap: 1em;
  }

  &__details {
    padding: 1em;
    background-color: #d1d1d1;
  }
}
